@media screen and (max-width: 50px) {
	:root.left tab-item-substance {
		margin-left: 0;
	}

	/* make indent line invisible when collapsed */
	/* https://addons.mozilla.org/en-US/firefox/addon/tst-indent-line/ */
	:root.left tab-item {
		--indent-line-color: transparent;
		--indent-line-color-active: transparent;
	}

	/* https://github.com/piroor/treestyletab/wiki/Customizing-with-CSS#css-via-preferences */

	/* Space favicons so text is not shown when collapsed */
	:root.sidebar .tab .favicon {
		margin-right: 11px;
	}

	/* Move the new tab button to center when collapsed */
	:root.sidebar .newtab-button {
		max-width: 40px;
		margin-left: 4px;
	}
}

/* Hide the collapsed tab markers and center favicons */
:root.sidebar .tab .twisty {
	margin: 0px -3px;
}
