/* https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-context-menu-items-in-the-sidebar-2116 */
@-moz-document regexp("moz-extension://.+/sidebar/sidebar.html.*") {
	:root,
	#background {
		background-color: rgb(40, 42, 48); /* https://github.com/piroor/treestyletab/blob/0eede581d763f92344fe64b1c042839f3b8ca955/webextensions/resources/ui-color.css#L198 */
	}
}

@-moz-document url("about:newtab"), url("about:home") {
	.weather {
		background-color: color-mix(in srgb, var(--newtab-background-color-secondary) 30%, transparent);
		backdrop-filter: blur(10px);
		border-radius: var(--border-radius-medium);

		color-scheme: dark;
	}

	.weatherInfoLink:hover,
	.weatherButtonContextMenuWrapper:hover {
		background-color: color-mix(in srgb, var(--newtab-background-color-secondary) 40%, transparent) !important;
	}

	.title-label {
		display: none !important;
	}

	.tile {
		background-color: color-mix(in srgb, var(--newtab-background-color-secondary) 40%, transparent) !important;
		/* backdrop-filter: blur(10px); */
	}
}
