/* https://github.com/irvinm/Toggle-Native-Tab-Bar/blob/main/README.md#required-entering-css-to-hide-or-show-the-native-tab-bar-into-userchromecss */
/* Hides the native tab bar and moves window controls to the nav bar. */
/* Requires the Toggle Native Tab Bar extension: https://addons.mozilla.org/en-US/firefox/addon/toggle-native-tab-bar/ */
#main-window[titlepreface*=" "] {
    #TabsToolbar {
        display: none;

        .titlebar-buttonbox-container {
            display: none !important;
        }
    }

    #nav-bar {
        .titlebar-buttonbox-container {
            display: flex !important;
        }
    }

    /* Based on https://github.com/dchawisher/autohide-firefox-sidebar */
    /* Makes sidebar smaller (45px), and expands it when hovered */
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
        width: 45px !important;
        max-width: none !important;
        min-width: 0px !important;
        transition: width 128ms ease !important;
        transition-delay: 128ms !important;

		/* https://gist.github.com/shvchk/ea637112f88fe29a3f21c141a9fcf709 */
		z-index: calc(var(--browser-area-z-index-tabbox, 0) + 1);

        #sidebar {
            transition: width 128ms ease !important;
            transition-delay: 128ms !important;
            width: 45px !important;
            /* border-right: 1px solid #000; */
        }

        #sidebar-header:not(:hover) {
            max-height: 5px !important;
            min-height: 5px !important;
            padding: 0 !important;
            /* background-color: #7ad !important; */
            /* background-color: #c64600; */
            opacity: 0.5 !important;

            * {
                opacity: 0 !important;
            }
        }

		flex-direction: column-reverse;
    }

    /* hide sidebar splitter, only when tst is open */
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
        display: none !important;
    }


    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
		/* Don't increase width of sidebar box to make the sidebar float above the page */
        /* width: 300px !important; */
        transition: width 128ms ease !important;

        #sidebar {
            width: 300px !important;
            transition-delay: 0ms !important
        }
    }
}

/* https://www.reddit.com/r/FirefoxCSS/comments/77ehp1/comment/dolvvg3/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button */
/* Hides sidebar header when TST is open. */
/* Using code to make sidebar header collapsable instead
/* Remove title section from Tree Style Tabs */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] > #sidebar-header { */
/*      visibility: collapse; */
/* } */

