snippet ldate "Locale date (m/d/y)"
	`strftime('%m/%d/%Y')`

snippet ltime "Locale time (h:m am/pm)"
	`strftime('%I:%M %p')`

snippet ldt "Locale date and time (m/d/y h:m am/pm)"
	`strftime('%m/%d/%Y %I:%M %p')`

snippet lddate "Abbreviated locale date with weekday"
	`strftime('%a, %b %d, %Y')`
