snippet emote "Include an emote"
	{%- include 'emote', name: "${1:}" -%}

snippet picture "Include a picture"
	{% include 'picture.html', src: "${1:src}", alt: "${2:alt}" %}

snippet {% "Liquid Tag"
	{% ${1:} %}
